# {{ name }} — Entries

{{ entry_count | zpad }} entr{{ "y" if entry_count == 1 else "ies" }}
{% if chronological_events %}

---

## Events Here
{%- for year_group in chronological_events %}

### {{ year_group.year }}
{% if year_group.entry_count is defined %}
[{{ year_group.entry_count }} entr{{ "y" if year_group.entry_count == 1 else "ies" }}]({{ slug }}-entries-{{ year_group.year }})
{% endif %}
{% for month in year_group.months %}

**{{ month.name }}**
{% for event in month.events %}
- {{ event.name | wikilink }}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}
