# Palimpsest — City

## {{name}}

### Location Info
{{location_info}}

### Statistics
{{statistics}}

### Locations in {{name}}
{{locations}}

### People Encountered
{{people_encountered}}

### Notes
{{notes}}
