# Palimpsest — Event

## {{display_name}}

### Event Info
{{event_info}}

### Description
{{description}}

### Entries
{{entries}}

### People Involved
{{people_involved}}

### Locations
{{locations}}

### Notes
{{notes}}
