# Palimpsest — Person

{{breadcrumbs}}

## {{name}}

### Category
{{category}}

### Alias
{{aliases}}

### Appearances
{{appearances}}

### Themes
{{themes}}

### Vignettes
{{vignettes}}

### Notes
{{notes}}
